nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(90, 113, 121);
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
}

.nav-links {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.logo-link {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.text-link {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-size: 20px;
}