.projects-title {
  text-align: center;
}

.project-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.project-container {
  width: 600px;
  margin-right: 5%;
}