.projects-title {
  text-align: center;
}

.project-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.project-container {
  width: 600px;
  margin: 3%
}

img {
  border: 1px solid black;
}

img:hover {
  cursor: pointer;
  box-shadow: 3px 3px grey;
}